* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 10px;
  border:#1F2937;
  border-style: solid;
}

input {
    margin: 5px;
    height: 30px;
}

.buttons1, .buttons2, .buttons3, .buttons4, .buttons5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    min-width: 40px;
    background: #3882F6;
    color: #F9F1F8;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border-color: #F9F1F8;
    border-style: solid;
}

button:hover {
    background: #9caecb;
  }